nav{
    max-height: 85px;
    min-height: 85px;
    margin-left: 10vw;
    max-width: 80vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: auto;
        height: 44px;
        margin: 0;
    }
    menu{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        li {
          float: left;
          padding-right: 36px;
          color: #055a2c;
          font-weight: 500;
        }
    }
    button {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border: 0px;
        border-radius: 2px;
        box-shadow: 0px 0px 12px 1px rgba(29, 88, 63, 0.75);
        -webkit-box-shadow: 0px 0px 12px 1px rgba(29, 88, 63, 0.75);
        -moz-box-shadow: 0px 0px 12px 1px rgba(29, 88, 63, 0.75);
        background-color: #119B74;
        color: white;
        font-family: 'Poppins';
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
        transition: all ease 0.4s;
        &:hover {
            transition: all ease 0.4s;
            box-shadow: 0px 0px 0px 1px rgba(5, 141, 84, 0.75);
            -webkit-box-shadow: 0px 0px 0px 1px rgba(5, 141, 84, 0.75);
            -moz-box-shadow: 0px 0px 0px 1px rgba(5, 141, 84, 0.75);
            background-color: #088561;
        }
    }
}